.app {
  text-align: center;
}

.results-list {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  th, td {
    border: 1px solid black;
    padding: 5px;
  }
  th {
    background-color: #f2f2f2
  }
  tr:nth-child(even) {background-color: #f2f2f2;}
}

.results-details {
  text-align: center;
  /* todo: clean up in general, but specifically move labels above inputs */
  input {
    width: 50%;
  }
  #contactName {
    margin-bottom: 20px;
  }
  
  #contactNotes {
    width: 50%;
  }
  .contactNotesContainer {
    margin-bottom: 20px;
  }
}

button {
  margin: 10px;
}